<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ product.image }}" alt="{{ product.name }}">
  <mat-card-content>
    <p>
      {{ product.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="footer" [class.one-item]="!product.stock">
      <p>{{ product.stock ? 'Available' : 'Out of stock' }}</p>
      <p *ngIf="product.stock">{{ product.price | currency }}</p>
    </div>
  </mat-card-actions>
</mat-card>
