<mat-toolbar class="header">
  <div class="title">
    <button class="title-button" mat-mini-fab (click)="openMenu()">
      <mat-icon *ngIf="!isMenuOpened" class="title-button-icon">menu</mat-icon>
      <mat-icon *ngIf="isMenuOpened" class="title-button-icon">arrow_back</mat-icon>
    </button>
    <h6 class="title-text">Arkusnexus Art Store</h6>
  </div>
  <div class="header-toolbar">
    <mat-icon *ngIf="user" class="title-button-icon">face</mat-icon> <span class="username">{{ username }}</span>
    <button
      *ngIf="!user"
      mat-icon-button
      matTooltip="Log in"
      (click)="openDialog()">
      <mat-icon class="title-button-icon">account_circle</mat-icon>
    </button>
    <button
      *ngIf="user"
      mat-icon-button
      matTooltip="Log out"
      (click)="signOut()">
      <mat-icon class="title-button-icon">login</mat-icon>
    </button>
  </div>
</mat-toolbar>
