.form {
  width: 100%;

  .input {
    width: 100%;
    margin-top: 6px;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .login {
    margin-right: 10px;
    background-color: #8c8b8b;
    color: black;
  }
}
